@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*_________________________*\
*Base
\*_________________________*/

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

/*_________________________*\
*Typography
\*_________________________*/

.headline-1,
.headline-2 {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-1 {
  @apply text-5xl leading-tight font-semibold lg:text-[55px]
    lg:leading-[1.15];
}

.headline-2 {
  @apply text-3xl lg:text-4xl lg:leading-tight font-semibold;
}

.custom-text {
  @apply text-zinc-300 mb-4 p-7 bg-zinc-800/50 rounded-2xl;
}

/*_________________________*\
*Utilities
\*_________________________*/

.material-symbols-rounded {
  @apply w-[1em] h-[1em] overflow-hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box {
  @apply bg-zinc-700 overflow-hidden;
}

.img-cover {
  @apply w-full h-full object-cover;
}
/* Animate Ping */
@keyframes custom-ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.custom-animate-ping {
  position: absolute;
  inset: 0;
  background-color: rgba(16, 185, 129, 1); /* emerald-400 */
  border-radius: 9999px; /* rounded-full */
  animation: custom-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.custom-container {
  width: 100%; /* w-full */
  max-width: 480px; /* max-w-[480px] */
  margin-left: auto; /* ml-auto */
  border-radius: 60px; /* rounded-[60px] */
  overflow: hidden; /* overflow-hidden */
}

.section {
  @apply pt-20 lg:pt-32;
}

.about-section {
  width: 100%;
  padding: 2rem; /* Optional padding */
  background-color: rgba(39, 39, 42, 0.5); /* Equivalent to bg-zinc-800/50 */
  max-width: 100%;
  min-height: 100%; /* Ensures the background spans the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(
    39,
    39,
    42,
    0.5
  ); /* Set to your desired color with 50% opacity */
  padding: 2rem;
  border-radius: 1rem;
}

.skill-cards-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; /* Default to one column for mobile */
}

/* For screens wider than 768px, display in rows */
@media (min-width: 768px) {
  .skill-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
/* For Skill Card Hover Effects*/
.skill-card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: #292929;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.skill-card:hover {
  background-color: #1f1f1f; /* Darker color on hover */
}

.skill-card__figure {
  background-color: rgba(75, 75, 75, 0.5);
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.skill-card:hover .skill-card__figure {
  background-color: #0f0f0f; /* Darker figure background on hover */
}

.skill-card__label {
  color: #e0e0e0; /* Light text color */
}

.skill-card__desc {
  color: #a0a0a0; /* Slightly lighter text for description */
  font-size: 0.875rem;
}

/*_________________________*\
*Component
\*_________________________*/

/* *Menu Btn */
.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 
    rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] 
    backdrop-blur-2xl hover:bg-zinc-50/15 transition-[transform,background-color]
    active:scale-95;
}

/* * Navbar */
.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl 
    ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible
    transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0
    md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply opacity-100 scale-100 blur-0 visible;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50
    hover:text-zinc-50 transition-colors;
}

.nav-link.active {
  @apply text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply absolute top-2 left-2 right-2 h-9 bg-zinc-50 rounded-lg -z-10 transition-[top,left]
    duration-500;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

/* * Button */

.btn {
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1
    ring-zinc-50/5 ring-inset transition-[background-color];
}

.btn-secondary {
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
}

.btn .material-symbols-rounded {
  @apply text-[18px];
}

.btn:has(.material-symbols-rounded) {
  @apply pr-3;
}

.btn-primary {
  @apply h-11 bg-sky-400 text-zinc-950 hover:bg-sky-300 active:bg-sky-400;
}
